WebDigitalBank/Connected Services/ServiceRUsuario/UsuarioService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62402/UsuarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceDigitalBank.Models" />
  <xs:element name="CrearUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceDigitalBank.Models" minOccurs="0" name="usuarios" nillable="true" type="q1:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearUsuariosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuariosD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceDigitalBank.Models" minOccurs="0" name="LeerUsuariosResult" nillable="true" type="q2:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceDigitalBank.Models" minOccurs="0" name="usuarios" nillable="true" type="q3:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuariosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuariosID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuariosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tablaAfectada" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detalles" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarActividadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosConPaginacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paginaActual" type="xs:int" />
        <xs:element minOccurs="0" name="tamanoPagina" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosConPaginacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceDigitalBank.Models" minOccurs="0" name="ListarUsuariosConPaginacionResult" nillable="true" type="q4:ArrayOfUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTotalRegistros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTotalRegistrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerTotalRegistrosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>