WebDigitalBank/Connected Services/ServiceRUsuario/UsuarioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UsuarioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62402/UsuarioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62402/UsuarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62402/UsuarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceDigitalBank.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioService_CrearUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_CrearUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_LeerUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:LeerUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_LeerUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeerUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ActualizarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ActualizarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_EliminarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_EliminarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_RegistrarActividad_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarActividad" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_RegistrarActividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarActividadResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ListarUsuariosConPaginacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosConPaginacion" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ListarUsuariosConPaginacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosConPaginacionResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ObtenerTotalRegistros_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTotalRegistros" />
  </wsdl:message>
  <wsdl:message name="IUsuarioService_ObtenerTotalRegistros_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTotalRegistrosResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioService">
    <wsdl:operation name="CrearUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/CrearUsuarios" message="tns:IUsuarioService_CrearUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/CrearUsuariosResponse" message="tns:IUsuarioService_CrearUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeerUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/LeerUsuarios" message="tns:IUsuarioService_LeerUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/LeerUsuariosResponse" message="tns:IUsuarioService_LeerUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/ActualizarUsuarios" message="tns:IUsuarioService_ActualizarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/ActualizarUsuariosResponse" message="tns:IUsuarioService_ActualizarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/EliminarUsuarios" message="tns:IUsuarioService_EliminarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/EliminarUsuariosResponse" message="tns:IUsuarioService_EliminarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarActividad">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/RegistrarActividad" message="tns:IUsuarioService_RegistrarActividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/RegistrarActividadResponse" message="tns:IUsuarioService_RegistrarActividad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosConPaginacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/ListarUsuariosConPaginacion" message="tns:IUsuarioService_ListarUsuariosConPaginacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/ListarUsuariosConPaginacionResponse" message="tns:IUsuarioService_ListarUsuariosConPaginacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTotalRegistros">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioService/ObtenerTotalRegistros" message="tns:IUsuarioService_ObtenerTotalRegistros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioService/ObtenerTotalRegistrosResponse" message="tns:IUsuarioService_ObtenerTotalRegistros_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioService" type="tns:IUsuarioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/CrearUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeerUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/LeerUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/ActualizarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/EliminarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarActividad">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/RegistrarActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarUsuariosConPaginacion">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/ListarUsuariosConPaginacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTotalRegistros">
      <soap:operation soapAction="http://tempuri.org/IUsuarioService/ObtenerTotalRegistros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioService">
    <wsdl:port name="BasicHttpBinding_IUsuarioService" binding="tns:BasicHttpBinding_IUsuarioService">
      <soap:address location="http://localhost:62402/UsuarioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>